@import url('https://fonts.googleapis.com/css?family=Roboto Mono:200,300,400,500,600,700');


* {
    margin: 0;
    padding: 0;
}

html,

body {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    text-align: center;

}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#container {
    display: block;
}

#nav {
    display: flex;
    position: absolute;
    top: 15px;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.button {
    display: flex;
    font-size: 14px;
    font-family: 'Roboto Mono';
    font-weight: 500;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    padding: 10px 20px 10px 20px;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s; 
}

.button:hover {
    transform: translate(0, -3px);
    cursor: pointer;
    box-shadow: 0px 9px 11px rgba(0, 0, 0, 0.123);
}

.button:active {
    transform: translateY(-2px);
}
#button-active {
    display: flex;
    font-size: 14px;
    font-family: 'Roboto Mono';
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: black;
    border: 2px solid black;
    padding: 10px 20px 10px 20px;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s; 
}

#button-active:hover {
    transform: translate(0, -3px);
    cursor: pointer;
    box-shadow: 0px 9px 11px rgba(0, 0, 0, 0.123);
}

#button-active:active {
    transform: translateY(-2px);
}

#button-message {
    display: flex;
    font-size: 14px;
    font-family: 'Roboto Mono';
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 56, 255);
    border: 2px solid #0038FF;
    padding: 10px 20px 10px 20px;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s; 
}

#button-message:hover {
    transform: translate(0, -3px);
    cursor: pointer;
    box-shadow: 0px 9px 11px rgba(0, 0, 0, 0.123);
}

#button-message:active {
    transform: translateY(-2px);
}

#bottom {
    color: black;
    font-size: 12px;
    font-family: 'Roboto Mono';
    font-weight: 400;
    display: flex;
    position: absolute;
    bottom: -20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100px;
}


.bottom-text:hover {
    color: rgb(65, 65, 250) !important; 
    cursor: pointer;
}

#dark-mode {
    position: absolute;
    font-weight: 500;
    right: 40px;
}

#dark-mode-rectangle {
    position: absolute;
    right: 25px;
    width: 91px;
    height: 20px;
    background: rgba(0, 0, 0, 0.404);
    filter: blur(11px);
}

#dark-mode-rectangle:hover {
    cursor: pointer;
}

